# Byte-compiled / cache
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Installer logs
pip-wheel-metadata/
*.egg

# IDEs/editors
.vscode/
.idea/
*.swp

# Testing / coverage
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/

# Scikit-learn model
*.pkl